* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.booklist {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 15px;
}

.book {
  border: 1px solid darkslategrey;
  width: 352px;
  height: 352px;
  text-align: center;
  position: relative;
}

.book:hover {
  border: 3px solid darkolivegreen;
  width: 356px;
  height: 356px;
  margin: -2px;
}

.description {
  text-align: left;
  width: 90%;
  margin: 10px auto;
}
.cover {
  margin-top: 15px;
  margin-bottom: 15px;
}

.position {
  width: 30px;
  background-color: darkred;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  padding-top: 3px;
}
