* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 15px;
}

article {
  border: 1px solid darkslategrey;
  padding: 5px;
  width: 350px;
  height: 350px;
  text-align: center;
  position: relative;
}

article:hover {
  border: 3px solid green;
  padding: 5px;
  width: 346px;
  height: 346px;
}

.description {
    text-align: left;
    width: 90%;
    margin: 10px auto;
}
article img {
    margin-top: 15px;
    margin-bottom: 15px;
}


.position {
    width: 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    padding-top: 3px;
}